*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Arial,sans-serif;
}

body{
background:#f4f4f4;
line-height:1.6;
}

header{
background:#e3e311;
color:white;
padding:20px;
text-align:center;
}

nav ul{
display:flex;
justify-content:center;
list-style:none;
gap:20px;
margin-top:15px;
flex-wrap:wrap;
}

nav a{
color:white;
text-decoration:none;
font-weight:bold;
}

nav a:hover{
color:gold;
}

.banner img{
width:100%;
height:450px;
object-fit:cover;
}

section{
padding:40px;
}

.grid{
display:grid;
grid-template-columns:repeat(auto-fit,minmax(250px,1fr));
gap:20px;
}

.card{
background:white;
border-radius:10px;
overflow:hidden;
box-shadow:0 0 10px rgba(0,0,0,.2);
display:flex;
flex-direction:column;
}

.card img{
width:100%;
height:220px;
object-fit:cover;
}

.card h3{
padding:10px;
}

.card p{
padding:10px;
}

ul,ol{
margin-left:30px;
}

table{
width:100%;
border-collapse:collapse;
margin-top:20px;
}

table,th,td{
border:1px solid #000;
}

th{
background:#7b3f00;
color:white;
padding:10px;
}

td{
padding:10px;
text-align:center;
}

form{
display:flex;
flex-direction:column;
gap:10px;
}

input,textarea,select{
padding:10px;
}

input[type=submit]{
background:#7b3f00;
color:white;
border:none;
cursor:pointer;
}

input[type=submit]:hover{
background:#d0d61e;
}

footer{
background:#333;
color:white;
text-align:center;
padding:20px;
margin-top:30px;
}



nav ul{
flex-direction:column;
}

.banner img{
height:250px;
}

